/*======= index.html =======*/
#home .col-1{
	width:304px;
	margin-right:96px;
}

#home .col-2{
	width:180px;
}

#about_us .col-1{
	width:160px;
	margin-right:30px;
}

#about_us .col-2{
	width:208px;
	margin-right:30px;
}

#about_us .col-3{
	width:104px;
}

#contacts .col-1{
	width:300px;
	margin-right:38px;
}

#contacts .col-2{
	width:240px;
}


/*=========================*/


